/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 80px;
    height: 100%;
}

.title-container {
    position: relative;
    max-width: 53%;
}

@media (max-width: 1200px) {
    body {
        padding-top: 80px;
    }

    .title-container {
        max-width: 100%;
    }
}

main {
    height: 100%;
}

footer {
    z-index: 20;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*
    #90d575 TCEA y el priemro de la grilla (mas fuerte) (recibos)
    #b8d8ac el mas claro de la grilla (recibos)
    #99fa72 pestaña nuevo recibo
    #47525e boton
*/

:root {
    --dark: #47525e;
    --brand: #b8d8ac;
    --light-brand: #99fa72;
    --dark-brand: #90d575;
    --darker-brand: #11723c;
    --dark-brand-rgb: 144, 213, 117;
    --brand-rgb: 184, 216, 172;
    --light-brand-rgb: 153, 250, 114;
    --darker-brand-rgb: 17, 114, 60;
}

.btn-dark {
    border-color: var(--dark) !important;
    background-color: var(--dark) !important;
    color: white !important;
}

.btn-brand {
    border-color: var(--brand) !important;
    background-color: var(--brand) !important;
}

.btn-dark-brand {
    border-color: var(--dark-brand) !important;
    background-color: var(--dark-brand) !important;
    color: white !important;
}

.btn-light-brand {
    border-color: var(--light-brand) !important;
    background-color: var(--light-brand) !important;
}

.bg-brand {
    background-color: var(--brand) !important;
}

.bg-dark-brand {
    background-color: var(--dark-brand) !important;
}

.bg-light-brand {
    background-color: var(--light-brand) !important;
}

.bg-darker-brand {
    background-color: var(--darker-brand) !important;
}

.text-brand {
    color: var(--brand) !important;
}

.text-dark-brand {
    color: var(--dark-brand) !important;
}

.text-light-brand {
    color: var(--light-brand) !important;
}

.text-darker-brand {
    color: var(--darker-brand) !important;
}

.text-dark {
    color: var(--dark) !important;
}

a {
    color: var(--dark);
}

.special-link {
    font-weight: bold;
    text-decoration: underline;
}

a.nav-link {
    color: var(--darker-brand) !important;
    font-size: 1.1rem;
}

a.nav-link:hover {
    text-decoration: underline;
}

.nav-item.active a.nav-link {
    color: var(--darker-brand) !important;
    font-weight: bold;
    font-size: 1.1rem;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

    .background-image::after {
        content: "";
        z-index: 2;
        background-color: rgba(var(--brand-rgb), 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .background-image img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
